<div class="col-6 mt-3">
  <%= render "shared/tweet_form" %>
  <ul>
    <% Tweet.find_each do |tweet|%>
      <li> <%= tweet.body %></li>
    <%end%>
  </ul>
</div>

<div class="col text-center mt-3">
  One of three columns
</div>
</div>

</div>
