<div class="col-6 mt-3 shadow-sm rounded-4">
  <div class="mb-3">
    <%= link_to "Home", dashboard_path, class:"fs-5 text-decoration-none text black fw-semibold" %>
  </div>
  <%= render "shared/tweet_form",class: "fixed-top" %>
  <div id="tweets">
    <%= render Tweet.order(created_at: :desc) %>
  </div>
</div>

  <div class="col mt-3">
    <div class="position-relative">
      <div class="position-fixed">
    One of three columns
      </div>
    </div>
  </div>
</div>

