<%= form_with model: Tweet.new, url: tweets_path ,method: :post,class:"w-100",local: true, data: { controller: 'tweet-form'}  do |f| %>
    <%= f.text_area :body ,placeholder: "Whats happening?", class: "form-control border-0 fs-5 w-80", rows:4 %>
    <div class="d-flex justify-content-end mb-3">
      <%= f.submit "Create Post",class: "btn btn-info rounded-pill mt-3" %>
    </div>
  <%end%>
